<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<style>
    .stringRes {
    display: flex;
  flex-direction: row;
}
</style>
<div name="stringRes">
<!--    <div class="stringRes"></div>-->
<!--    <div class="stringRes"></div>-->
<!--    <div class="stringRes"></div>-->
    <span>String:</span>
<div th:each="s : ${strings}"  th:text="${s}"></div>
    <span>Substring:</span>
    <div th:each="sub : ${substrings}"  th:text="${sub}"></div>
    <span>Result:</span>
    <div th:each="r : ${results}"  th:text="${r}"></div>
</div>
</body>
</html>